.inline-related h3 {
    display: none;
}

.inline-related h2, .inline-group h2 {
    display: none;
}

/* Hide the title for NestedTabularInline */
.inline-group thead th {
    display: none;
}

.inline-group .tabular tr.has_original td {
    padding-top: 0px;
}

.original {
    display: none;
}